.myAvatar{
  width:2rem;
  height:2rem;
  border-radius:50%;
  margin:20% auto;
  display:block;
  border:0.1rem solid #fff;
  box-shadow:0 0 1rem #000;
}
#logOutBtn{
  background:#a80011;
  color:#fff;
  margin:20% auto;
}