.homeList{
  .am-list{
    min-height:100%;
  }
  .am-list-header{
    padding:0.1rem 0;
  }
  .am-list-footer{
    padding:0.1rem 0;
  }
  .am-list-body{
    min-height:100%;
  }
  min-height:100%;
  .homeListItem{
    color:#000;
    overflow:hidden;
    .author{
      width:25%;
      height:2.1rem;
      .authorAvatar{
        width:1.3rem;
        height:1.3rem;
        margin:0.2rem auto;
        display:block;
        border:3px solid rgba(0,0,0,0.3);
        border-radius:30%;
      }
      .authorName{
        font-size:0.2rem;
        height:0.2rem;
        text-align:center;
        margin:0 0 0.2rem 0;
      }
    }
    .titleArea{
      height:1.7rem;
      text-align:left;
      width:75%;
      font-family:'微软雅黑', '黑体', Arial;
      .itemTitle{
        width:95%;
        word-wrap:break-word;
        font-size:0.26rem;
        height:1.26rem;
        margin-top:0.2rem;
        .infoSpan{
          background:rgba(230,230,230,0.5);
          color:#333;
          border:1px solid #333;
        }
      }
      .someInfo{
        width:95%;
        text-align:right;
        height:0.22rem;
        font-size:0.18rem;
      }
      .infoSpan{
        font-size:0.18rem;
        margin-left:0.1rem;
        background:rgba(0,0,0,0.5);
        display:inline-block;
        vertical-align:middle;
        border-radius:0.02rem;
        height:0.22rem;
        line-height:0.22rem;
        color:#f0f0f0;
        padding:0 0.05rem;
      }
    }
  }
}


