body,html{
  margin:0;
  overflow-y:auto;
  height:100%;
  width:100%;
  -webkit-overflow-scrolling : touch;
}
p,h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
}
.am-toast-notice{
  top:40%;
}
.toLoginPage{
  width:50%;
  margin:50% auto;
}